doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dither Link
  style
    include ../style.css
  //link(rel='stylesheet' href='/style.css')
  include ../topnav.pug
  +topnav('ideas')
h2 The Ideas Behind Dither
p
  | These documents are compiled from the 
  a(href='https://github.com/libdither/libdither') libdither
  |  git repository
p
  | Main Outline: 
  a(href='dither.html') dither.md
p
  | Application Index: 
  a(href='applications.html') applications.md
p
  | Why Copyright is Cancer: 
  a(href='copyright-is-cancer.html') copyright-is-cancer.md
