mixin topnav(current_page)
	.topnav
		h1 Dither
		a(class=(current_page === "about") ? 'active' : '', href='/') About
		a(class=(current_page === "spec") ? 'active' : '', href='/spec') Ideas
		a(class=(current_page === "inspiration") ? 'active' : '', href='/inspiration') Inspiration
		p Mission: Decentralize the Internet