doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dither Link
  style
    include ../style.css
  include ../topnav.pug
  +topnav('inspiration')
p
  | As fundamental freedoms are continually encroached upon, having a decentralized and democratic internet is more important than ever before. Unfortunately, the current state of progress for internet decentralization is a big fragmented mess of different projects trying to do different things, but not effectively enough. Not enough ideas are shared, not enough people are talking. The biggest usage of peer-to-peer tech is Bittorrent, which has been around for 2 decades. Other parts of internet decentralization have been mostly re-centralized by necessity for ease of use (such as LBRY or Ethereum). This fragmented ecosystem is in desperate need of one project that can replace all the necessary parts of the internet so that reliance on centralized services is not needed anymore.
h3 Projects that have inspired Dither
p
  a(href='https://multiformats.io/') Multiformats
  |  - Multiformats aims to fix the problem of future-proofing systems into future ages of computing. Dither will use a few of the multiformats, such as multihash, to future-proof and to be compatible with IPFS.
p
  a(href='https://www.stellar.org/') Stellar Conensus Protocol
  |  - Byzantine Federated Voting is a really fast and flexible system for consensus, it just has to be implemented well.
p
  a(href='https://www.getmonero.org/') Monero
  |  - Monero is the only cryptocurrency that actually has most of what a crypto 
  i currency
  |  should have. Transactions are completely anonymous, transaction fees are very low and it&apos;s not managed by a single company.
  | &#x9;Dither will improve on this with its own suite of cryptocurrencies that are all completely anonymous and take advantage of the Stellar Consensus Protocol for blazing fast transaction speeds.
p
  a(href='https://ipfs.io/') IPFS
  |  - IPFS is a core project in the world of web3, and a really good start to the decentralized internet. However, it is simply too 
  a(href='https://www.publish0x.com/ecosystem-overviews-and-analysis/the-precarious-state-of-ipfs-in-the-year-2020-xmvxeg') slow and hard to interface with
  |. Dither's 
  a(href='/ideas/dither/routing/distance-based-routing.html') Directional Trail Search
  |  will greatly improve the speed and efficiency of IPFS, as well as supporting more ways of representing data.
p
  | DNS - The Domain Name System is structurally decentralized, but it is centrally managed by ICANN, an organization with the authority to control domain name registration. Dither will have its own naming system that will replace DNS and allow for much better systems of naming things. This naming system will be built on the 
  a(href='/ideas/dither/reverse-hash-lookup.html') Reverse Hash Lookup
  |  system.
p
  a(href='https://www.torproject.org/') TOR
  |  &amp; 
  a(href='https://geti2p.net/en/') I2P
  |  - These &quot;Hidden Networks&quot; are very important for obfuscating connections between people on the internet. However, they are 
  i very slow
  |  due to their nature of randomly routing connections through different nodes. Dither will improve on this with 
  a(href='/ideas/dither/routing/distance-based-routing.html') Distance-Based Routing
  |  , a routing system that takes latency into account when creating tunnels, allowing for the user to choose between better privacy or better speed. Dither will also implement a technology called 
  a(href='https://arxiv.org/pdf/1507.05724v3.pdf') HORNET
  |  to allow for addition efficiency when establishing obfuscated connections
p
  | Other notable projects are: 
  a(href='https://github.com/scarf-sh/nomia') Nomia
  | , 
  a(href='https://ipld.io/') IPLD
  | , 
  a(href='https://www.youtube.com/watch?v=CZxH1V_zoug') IOTA
  | , zk-STARKS, and Solidity.
